@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800;900&display=swap");

.hero2 {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.hero-left {
    flex: 2;
}

.hero-right {
    flex: 1;
}

.sharing {
    width: 600px;
    height: 500px;
    object-fit: contain;
}

.better {
    font-family: "Inter";
    font-size: 90px;
    font-weight: 900;
    margin: 0;
    border: 1px solid #000;
}

.better1 {
}

.better2 {
    width: fit-content;
}

.better3 {
    /* background-image: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733); */
    /* background-image: -webkit-linear-gradient(45deg, #ff00cc, #333399); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.dot1 {
    background-image: -webkit-linear-gradient(45deg, #ff00cc, #333399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dot2 {
    background: linear-gradient(45deg, #e65c00, #f9d423);
    color: white;
}

.dot3 {
    /* background-image: -webkit-linear-gradient(45deg, #e65c00, #f9d423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
