.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.leftnav {
    cursor: pointer;
}

.midnav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.acc2:hover,
.acc:hover {
    cursor: pointer;
}

.rightnav {
    display: flex;
    align-items: center;
}

.acc2,
.acc {
    display: flex;
    align-items: center;
}

.acc2 a,
.acc a {
    color: var(--white);
    text-decoration: none;
}

.call {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

    background: -webkit-linear-gradient(45deg, #680aca, #ff897e);
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
    );
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
    background-size: 300% 300%;
    color: #fff;
}

.call:hover {
    opacity: 90%;
}

.profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 10px;
}

.profile:hover {
    color: #ef4e7b;
}

.action {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 8px;
}
