.content {
    padding: 50px;
}

.success {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.success1 {
    width: 500px;
}

.our {
    margin-top: 0;
}

.view {
    cursor: pointer;
    border: 1px solid white;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 16px;
}

.view:hover {
    color: white;
    background: -webkit-linear-gradient(45deg, #680aca, #ff897e);
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
    );
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
    background-size: 300% 300%;
    border: 1px solid #000;
    border: none;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.service {
    border: 1px solid var(--grey);
    border-radius: 10px;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.s-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.s-links {
    width: 220px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
}

.s-img {
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.s-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 2px solid white;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -30px;
}

.ss-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a3cfd;
    border: 2px solid white;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -30px;
}

.sss-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e62e8d;
    border: 2px solid white;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -30px;
}

.details {
    margin: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
}

.zip {
    margin: 0;
    margin-top: 10px;
    color: white;
    width: 210px;
    margin: 0;
}

.lead {
    margin: 0;
    color: grey;
    text-decoration: none;
}

.raised {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: small;
}
